.caixa1{
  padding:5px;
}
img{
  width:100%;
  height:fit-content;
  padding-left:0;
/*  border-bottom:1px solid white; */
}

.texto{
  padding:1em;
  margin-top:-2em;
  color:white;
}
/*========= BIG SCREEN =========*/
@media only screen and (min-width: 450px) {
  .Home{
    width: 95%;
    max-width:600px;
    min-height: 85vh;
    margin-top: 10vh;
    border: 2px solid white;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(0,0,0,0.5);
    display:block;
    overflow: hidden;
  }
  .threeBoxes{
    display:flex;
    justify-content: space-between;
  }
  }

/*========= small screen =========*/
@media only screen and (max-width: 450px) {
  .Home{
    width: 95%;
    max-width:600px;
    min-height: 85vh;
    border: 2px solid white;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 12%;  
    margin-bottom: 30px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    display:block;
    overflow: hidden;
  }
    .threeBoxes{
    display:flex;
    flex-direction: column;
  }
  img{
    width:50%;
    height:fit-content;
    padding-left:0;
  /*  border-bottom:1px solid white; */
  }
  }
