.Home{
  width: 95%;
  max-width:900px;
  min-height: 100vh;
  border: 2px solid white;
  border-radius: 5px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0vh;
  margin-bottom: 40vh;
  color:white;
  background-color: rgba(0,0,0,0.5);
  display:block;

  min-height: xxx;
  overflow: hidden;
}

img{
  width:100%;
  height:fit-content;
  padding-left:-1em;
  border-bottom:1px solid white;
}

.texto{
  padding:1em;
  margin-top:-2em;
}